<div class="moving-text" style="padding: 22px">
<div class="text-center p-3"> 
  <h1 class="bordered-div" style="color: blue">Admin Dashboard</h1> </div>
  <br>
  <div style="color:black">
    <h2><strong class="bordered-div">Users Available</strong></h2>

      <% @users.where(approved: true).reverse.each do |user| %>
        <% unless user.admin? %>
          <a href="<%= user_path(user) %>" style="text-decoration: none;">  <br>
           <h3> <strong style="color:blue"><%= user.first_name %> <%= user.last_name%></strong></h3> 
          </a>
          <p> <strong><%= user.email %></strong></p>
          <% if user.pending_accounts.any? %> <br>
            <div class="account-approval">
              <% user.pending_accounts.each do |account| %>
                <p><strong>Account Request:</strong> <%= account.bank.bank_name %></p> 
                <%= form_with url: approve_account_admin_path(account), method: :post do |f| %>
                  <%= f.submit 'Approve', class: 'btn btn-success' %>
                <% end %>
                <br>
                <%= form_with url: decline_account_admin_path(account), method: :post do |f| %>
                  <%= f.submit 'Decline', class: 'btn btn-danger' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <br>
    <br>
</div>
<br>
<br>

