<div style="padding: 22px">

<%= form_for @bank do |f| %>
  <%= f.label :bank_name %>
  <%= f.text_field :bank_name %>
  <br>
  <%= f.submit 'Update' %>
<% end %>
<br><br>
<p>
<%= link_to 'Delete Bank', @bank, method: :delete,data: {turbo_method: :delete,  turbo_confirm: "Are you sure"} , class: 'btn btn-danger' %>
<%= link_to 'Back', banks_path, class: 'btn btn-secondary'%> </p>
</div>
