<div class="moving-text" style="padding: 22px">
<h1 class="bordered-div" style="color: black"> Edit Bank </h1> 
<br>
<%= form_for @bank do |f| %>
<div style="color:black">
  <%= f.label :bank_name %>
  <%= f.text_field :bank_name %> </div>
  <br>
  <p>
  <%= f.submit 'Update', class: 'btn btn-primary' %>
  <%= link_to 'Back', banks_path, class: 'btn btn-secondary'%> </p>
<% end %>
<br>
<%= link_to 'Delete Bank', @bank, method: :delete,data: {turbo_method: :delete,  turbo_confirm: "Are you sure"} , class: 'btn btn-danger' %>

</div>
