<div  class="moving-text"  style="padding: 22px">
<div class="text-center p-3">
  <h1 class="bordered-div" style="color:blue"><%= @bank.bank_name %></h1> </div>
  
  <% unless current_user.admin? %>
    <p><strong style="color:black">Accounts Details</strong></p><br>
    <% if @bank.accounts.where(user_id: current_user.id).any? %>
      <% @bank.accounts.where(user_id: current_user.id).each do |account| %>
        <div style="color: black">
          <p><strong>User:</strong> <%= current_user.first_name %> <%= current_user.last_name %> </p>
          <p><strong>Email:</strong> <%= current_user.email %></p>
          <p><strong>Account Number:</strong> <%= account.account_no %></p>
          <p><strong>Balance:</strong> <%= account.balance %></p>
        </div>
      <% end %>
    <% else %>
      <p style="color:black">No accounts found.</p>
    <% end %>
  <% end %>

  <% if current_user.admin? %>
    <% users = @bank.users %>
    <% if users.any? %>
      <ul>
        <% users.each do |user| %>
          <li> <a href="<%= user_path(user) %>" style="text-decoration: none;"><strong>User:</strong> <%= user.email %> </a></li>
          <% user_accounts = user.accounts.where(bank_id: @bank.id) %>
          <% if user_accounts.any? %>
            <ul style="color:black">
              <% user_accounts.each do |account| %>
                <li >
                  <strong>Account Number:</strong>
                  <%= account.account_no %><br>
                </li>
                <li> <strong>Balance:</strong>
                  <%= account.balance %> </li>
              <% end %>
            </ul>
          <% else %>
            <li>No accounts found for this user.</li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p>No users found for this bank.</p>
    <% end %>
   <p>
    <%= link_to 'Edit this bank', edit_bank_path(@bank), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %> </p>

</div>
