<div>
  <%= form_for @transaction do |f| %>
   
     <div class="field">
    <%= f.label :sender_id, "Sender Account" %>
    <%= f.collection_select :sender_id,  @accounts, :id, :account_no, prompt: 'Select Account'%>
    </div> 
    <br>
    <div class="field">
      <%= f.label :bank_id %>
      <%= f.collection_select :bank_id, @banks, :id, :bank_name, prompt: 'Select Bank', id: 'bank-select' %>
    </div>
    <br>
    
   <div class="field">
      <%= f.label :receiver_id %>
      <%= f.collection_select :receiver_id, [], :id, :account_no, prompt: 'Select Receiver', id: 'transaction_receiver_id' %>
    </div>
<br>
     
     <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, min: 0 %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Make a Transaction", class: "btn btn-primary" %>
      <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

<%# <script>
  $(document).on('turbolinks:load', function() {
    const receiverSelect = $('#transaction_receiver_id');
    const bankSelect = $('select.bank-select');

    bankSelect.on('change', fsunction() {
      const selectedBankId = $(this).val();

      $.ajax({
        url: '/get_users_by_bank',
        data: { bank_id: selectedBankId },
        dataType: 'json',
        success: function(data) {
          receiverSelect.empty();
          receiverSelect.append($('<option>').val('').text('Select Receiver'));

          data.forEach(function(user) {
            const userId = user[0];
            const userName = user[1];
            const accountNo = user[2];
            const optionText = `${userName} (${accountNo})`;
            const option = $('<option>').val(userId).text(optionText);
            receiverSelect.append(option);
          });
        },
        error: function() {
          receiverSelect.empty();
          receiverSelect.append($('<option>').val('').text('Select Receiver'));
        }
      });
    });
  });
</script> %>
