<div style="padding: 22px">
  <%= form_for @transaction do |f| %>
    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, min: 0 %>
    </div>
    <br>
    <div class="field">
      <%= f.label :transaction_type, "Transaction Type" %>
      <br>
      <%= f.select :transaction_type, options_for_select(["Deposit", "Withdraw"]), prompt: "Select Transaction Type" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :account_id, "Select Account" %>
      <br>
      <%= f.collection_select :account_id, @accounts, :id, :account_no, prompt: "Choose your Account" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Make a Transaction", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
