<div >
  <%= form_for @transaction do |f| %>
    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, min: 0%>
    </div>
    <br>
     <%= f.hidden_field :sender_id, value: current_user.id %>
    <br>
    <div class="field">
    <%= f.label :bank_id %>
    <%= f.collection_select :account_id, @accounts, :id, :bank_name, prompt: 'Select Bank' %>
    </div>
    <br>
     <div class="field">
    <%= f.label :receiver_id %>
    <%= f.collection_select :receiver_id, [], :id, :first_name, prompt: 'Select Receiver' %>
  </div>
    <br>
    <div class="actions">
      <%= f.submit "Make a Transaction", class: "btn btn-primary" %>
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>

    </div>
  <% end %>
</div>
