<div class="moving-text" style='padding: 22px; color: black'>
  <div class="text-center p-3">
    <h1 class="bordered-div" style="color: blue">Transaction History</h1> </div>
    <% if @transactions.any? %>
      <% @transactions.each do |transaction| %>
        <br>
        <li>
          <strong>Account Number:</strong> <%= transaction.account.account_no %>
          <br> 
          <% if transaction.account.bank %>
            <strong>Bank Name:</strong> <%= transaction.account.bank.bank_name %>
          <% else %>
            <strong>Bank Name:</strong> Not available
          <% end %>
          <br>
          <a href="<%= transaction_path(transaction) %>" style="text-decoration: none;">
            <!-- <strong>Transaction Type:</strong> <%= transaction.transaction_type %> -->
            <strong> Sender: </strong> <%= transaction.sender_id%>
          </a>
          <br>
          <strong>Amount:</strong> <%= transaction.amount %>
          <br>
        </li>
        <br>
      <% end %>
    <% else %>
      <p>No transactions found yet.</p>
    <% end %>
    <%= link_to "Make a transaction", new_transaction_path, class: 'btn btn-primary'%>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
    <br><br><br>
</div>
