<!DOCTYPE html>
<html>
  <head>
    <title>BankingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #f1f1f1;">
  <%= render partial: "shared/header" %>
 
   <div style="padding: 22px">
   <% if user_signed_in? %> 
   <p> <strong> Logged in as </strong> <%= current_user.email %>  <p> 
   <% end %>
   
   
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   </div>

    <%= yield %>


  </body>
</html>
